/* Global Properties */
body{
  background-image: url(/images/love.png);
}

/* Header margin */
.header {
  margin: -20px 0px 0px;
}

/* Page Header properties */
.header h1 {
  background-color: pink;
  color: red;
}

/* Card size  */
.card {
    width: 25rem;
}

/* Footer Color  */
.footer {
 color: white;
 margin: 0;
}

/* carousel size  */
.carousel-inner{
  width:100%;
  max-height: 300px !important;
}

/*Space between carousel and cards*/
.marginspace{
  margin-top: 20px;
}
