/* Global Properties */
body{
  background-image: url(/images/love.png);
}

.container-fluid{
  padding: 0px;
}
/* Page Header properties */
header {
  margin: -10;
  padding-left:15px;
  padding-right:15px;
  background-image: url(/images/brown.jpeg);
}

header h1 {
  color: white;
}

header h1 small{
  color: yellow;
}

/* navbar Properties  */
.navbar {
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 0px;
  background-color: #e3f2fd;
}

/* carousel Properties  */
.carousel-inner{
  width:100%;
  max-height: 300px !important;
}


/*Space between sections*/
.marginspace{
  margin-top: 20px;
}

/*Card Properties */
.card{
  max-width: auto;
  max-height: auto;
}

.card-img {
  opacity: 0.5;
  height: 300px;
}

/* Page Footer Properties  */
footer {
 background-image: url(/images/brown.jpeg);
 margin: 0;
 color: white;
}

.footer > img {
  max-height :30px;
}
